.expand {
  transition: transform 130ms ease-out, box-shadow 130ms ease-out;
}

.expand:hover {
  box-shadow: 0px 1px 1px rgba(148, 136, 136, 0.125);
  box-shadow: 0px 2px 2px rgba(148, 136, 136, 0.125);
  box-shadow: 0px 4px 4px rgba(148, 136, 136, 0.125);
  transform: scale(1.1);
}

a {
  color: #3b82f6;
  text-decoration: underline;
}
